body{
    height: 100vh;
    background-image: linear-gradient(rgb(199, 204, 224),rgb(96, 38, 196));
}
.container {
  max-width: 955px;
  border:2px solid rgb(32, 28, 23);
  margin: auto;
  height: 60vh;
  padding: 30px;
  margin-bottom: 15px;
  overflow-y: auto;
}
.heading {
  margin-top: 12px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  padding: 10px;
  font-weight: bolder;
}

.message {
  background-color: rgb(209, 144, 198);
  width: 240px;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 22px;
}
.left {
  float: left;
  width: auto;
  clear: both;
}
.right {
  float: right;
  width: auto;
  clear: both;
}
#send-container{
    display: block;
    margin: auto;
    max-width: max-content;
    text-align: center;
    width: fit-content;
}
#messageInp{
    width: 898px;
    border:2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    width: 83px;
    cursor:pointer;
    border: 2px solid black;
    border-radius: 8px;
    height:39px
}
